@model ConnectElectronics.Models.ViewModels.CartViewModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap")></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
    .button {
      display: inline-block;
      padding: 10px 19px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #808080;
      border: none;
      border-radius: 15px;

    }

    .button:hover {background-color: #24272E}

    .button:active {
      background-color: #24272E;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

.container {
    margin: 30px auto;
}

.container .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0px;
}

body {
    background: #eee
}
.btn.btn-primary {
    background-color: #ddd;
    color: black;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.btn.btn-primary:focus {
    box-shadow: none;
}
.container .card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px;
    color: #3333f7;
}

.fab.fa-cc-amex {
    color: #1c6acf;
    font-size: 32px;
}

.c-green {
    color: green;
}

.box {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.btn.btn-primary.payment {
    background-color: #1c6acf;
    color: white;
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.form__div {
    height: 50px;
    position: relative;
    margin-bottom: 24px;
}

.form-control {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 0;
    outline: none;
    padding: 2px;
    background: none;
    z-index: 1;
    box-shadow: none;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #fff;
        color: #808080;
    font-size: 16px;
    transition: .3s;
    text-transform: uppercase;
}

.form-control:focus+.form__label {
    top: -8px;
    left: 12px;
    color: #1A73E8;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:not(:placeholder-shown).form-control:not(:focus)+.form__label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:focus {
    border: 1.5px solid #1A73E8;
    box-shadow: none;
}
</style>


<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="card p-3">
                <p class="mb-0 fw-bold h3" style="text-align:center; padding-top: 10px">Payment Methods</p>
            </div>
        </div>
        <div class="col-12">
            <div class="card p-3">
                <div class="card-body border p-0">
                    <p>
                        <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between"
                           data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                           aria-controls="collapseExample">
                            <span class="fw-bold">PayPal</span>
                            <span class="fab fa-cc-paypal">
                            </span>
                        </a>
                    </p>
                    <div class="collapse p-3 pt-0" id="collapseExample">
                        <div class="row">
                            <div class="col-8">
                                <p class="h4 mb-0">Summary</p>
                                <p class="mb-0">
                                    <span class="fw-bold">Products:</span><span class="c-green">
                                        : @foreach (var item in Model.ProdukteShport)
                                        {
                                            <span> @item.ProduktEmri </span>
                                        }
                                    </span>
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold">Price:</span><span class="c-green">:$@ViewBag.Shuma</span>
                                </p>
                                <p class="mb-0">
                                    Pay with Paypal
                                </p>
                                <div class="btn-group">
                                    <div id="paypal-btn"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border p-0">
                    <p>
                        <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                           data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                           aria-controls="collapseExample">
                            <span class="fw-bold">Cash Payment <i class="fa-solid fa-money-bill"></i></span>
                            
                        </a>
                    </p>
                    <div class="collapse show p-3 pt-0" id="collapseExample">
                        <div class="row">
                            <div class="col-lg-5 mb-lg-0 mb-3">
                                <p class="h4 mb-0">Summary</p>
                                <p class="mb-0">
                                    <span class="fw-bold">Products:</span><span class="c-green">
                                        :  
                                @foreach (var item in Model.ProdukteShport){
                                            <span> @item.ProduktEmri </span>
                                        }
                                    </span>
                                </p>
                                <p class="mb-0">
                                    <span class="fw-bold">Price:</span>
                                    <span class="c-green">:$@ViewBag.Shuma</span>
                                </p>
                                <p class="mb-0">Cash payment to your address</p>
                                <a class="button" asp-controller="Porosi" asp-action="Ukrye" asp-route-id="@ViewBag.PrID">Dorazi</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>

    let _total = @Model.CmimiTotal;

    paypal.Button.render({
        env: 'sandbox',
        client: {
            sandbox: 'AYDDkRa49JaKRC6TEGwrtuZsie3QoCkuFAjWMbIogbu3sqD-WSaNF5oqxo9P4jXR84dMbcV5nGm4xjGZ'
        },

        locale: 'en_US',
        style: {
            size: 'small',
            color: 'gold',
            shape: 'pill'
        },
        commit: true,

        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: _total,
                        currency: 'USD'
                    }
                }]
            });
        },

        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                var url = '@Url.Action("Ukrye", "Porosi", new { id=ViewBag.PrID})';
                window.location.href = url;
            });
        }

    }, '#paypal-btn')

</script>