@model Produkt
@{
    ViewData["Title"] = "Detajet e Produktit";
}
<br />
<div style="display: flex;   justify-content:start; align-items:center; ">

    <div class="card" style=" margin:0 auto">
        <h1 style="color:D10024; margin:0; text-align:center;color:#D10024">@Model.Emri</h1>
        
       
                <img class="img-fluid" src="~/images/@Model.Foto" width="300px" height="300px" alt="Product Image">
          
            
                <br />
                <div style="padding-left:50px">
                   
                        <h5 class="card-text">@Model.Pershkrimi</h5>
                        <h2 class="card-text text-success">@Model.Cmimi $</h2>
                        <p class="card-text"><b>Category: </b>@Model.Kategori.Emri</p>
                 
                    <p class="card-text">
                        <b>Brand: </b>
                        <a asp-controller="Marka" asp-action="Details" asp-route-id="@Model.marka.Id">@Model.marka.Emri</a>
                    </p>
            <div class="add-to-cart">
                <button class="add-to-cart-btn" style="background-color:#D10024;border-radius:40px;height:35px;width:150px;">
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" style="color:black;"><i class="fa fa-shopping-cart"></i>Add to cart </a>
                </button>
            </div>
                </div>
                
           
        
    </div>
    
        
</div>


<div style="display:inline-block">


    <a class="btn btn-danger" asp-action="ProduktOferte" asp-route-id="@Model.Id">Add in Offers</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa-sharp fa-solid fa-trash fa-xl"></i></a>
</div>
<br />
<a style="color:#D10024;margin-left:60px;margin-top:30px;margin-bottom:30px;font-size:40px;" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>